.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  position: absolute;
  left: 3%;
}

.parent {
  text-align: center;
}

.login-form-container {
  position: absolute;
  top: 30%;
  left: 40%;
}

.form-label {
  color: rgb(77, 77, 77);
  font-size: 12px;
  text-align: left;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.large-font {
  font-size: 24px;
}

.errors {
  color: red;
}

.login-btn {
  background-color: rgb(53, 83, 255);
  color: white;
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 7.5px;
  border-width: 0.5px;
  cursor: pointer;
}


form {
  padding: 10px;
  width: 200px;
  border: 10px;
  margin: 10px;
  color: rgb(27, 49, 15);
}

.error {
  color: red
}

.nav-btn-split {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  font-size: 16px;
  color: rgb(27, 49, 15);
  margin-left: 8px;
  cursor: pointer;
  padding-top: 2px;
}

#navbar {
  display: flex;
  padding-left: 15px;
  border-bottom: 1px solid grey;
  height: 60px;
  align-items: center;
  object-fit: contain;
  overflow: hidden
}

.nav-btn {
  cursor: pointer;
  font-weight: bolder;
  border: 0px black solid;
  background-color: transparent;
  color: rgb(27, 49, 15);
  padding: 7px;
  margin: 7px;
}