
.header {
  position: absolute;
  left: 3%;
}

.parent {
  text-align: center;
}

.login-form-container {
  position: absolute;
  top: 30%;
  left: 40%;
}

.form-label {
  color: rgb(77, 77, 77);
  font-size: 12px;
}

label {
  color: rgb(77, 77, 77);
  font-size: 12px;
}

input {
  display: block;
  width: 100%;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.large-font {
  font-size: 24px;
}

.errors {
  color: red;
  font-size: 12px;
  padding: 2px;
  border: 2px;
  margin: 2px;
}

.login-btn {
  background-color: rgb(53, 83, 255);
  color: white;
  padding: 3px;
  margin: 10px;
  margin-top: 20px;
  width: 90%;
  border-radius: 7.5px;
  border-width: 0.5px;
  cursor: pointer;
}


form {
  padding: 10px;
  width: 85%;
  border: 10px;
  margin: 10px;
  color: rgb(27, 49, 15);
}

.nav-btn-split {
  background: transparent;
  border-color: transparent;
  border: 0px;
  font-size: 14px;
  color: rgb(27, 49, 15);
  margin: 7px;
  cursor: pointer;
  padding: 7px;
  font-family: inherit;
  color: white;
  position: absolute;
  right: 0px;
}

#navbar {
  display: flex;
  padding: 1px;
  margin: 1px;
  border-bottom: 1px solid grey;
  height: 40px;
  align-items: center;
  object-fit: contain;
  overflow: hidden;
  background-color: rgb(59, 59, 59);
}

.nav-btn {
  cursor: pointer;
  border: 0px black solid;
  color: white;
  font-size: 14px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 7px;
  text-decoration: none;
  padding-left: 23px;
}

.checkbox-icon {
  height: 14px;
  width: 14px;
  color: white;
  cursor: pointer;
  padding-top: 3px;
  margin: 1px;
}

.edit-icon {
  height: 14px;
  width: 14px;
  color: white;
  cursor: pointer;
  padding-top: 3px;
  margin: 1px;
}

.add-btn {
  background: rgb(57, 103, 202);
  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-left:10px;
  padding-right: 10px;
  margin: 10x;
  margin-top: 15px;
  margin-bottom: 6px;
  margin-left: 18px;
  width: fit-content;
  font-size: 12px;
  cursor: pointer;
}

.icon-container {
  background: transparent;
  color: transparent;
  border: 0px transparent;
  padding-top: 2px;
  height: 26px;
  width: 14px;
  padding: 1px;
  margin: 2px;
}

.task-card {
  padding: 1px;
  margin: 2px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(57, 103, 202);
}

.task-card:hover {
  color: rgb(57, 103, 202);
}

table {
  margin: 10px;
  padding: 10px;
  border-collapse: collapse;
  border: 0px transparent;
}

.table-row {
  border-bottom: 1px solid rgb(190, 190, 190);
}

.links-container {
  margin: 15px;
}

.nav-links {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
}

.nav-links:visited {
  color: rgb(57, 103, 202);
}

.nav-links:hover {
  color: rgb(0, 43, 136);
}

.note {
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  font: inherit;
}

.task-container {
  padding: 10px;
  margin: 10px;
}

.task-attr {
  padding: 2px;
  margin: 2px;
}

.title { 
  padding: 10px;
  margin: 10px;
}

.btn {
  background: rgb(57, 103, 202);
  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-left:10px;
  padding-right: 10px;
  margin: 10x;
  margin-top: 15px;
  margin-bottom: 6px;
  margin-left: 0px;
  width: fit-content;
  font-size: 12px;
  cursor: pointer;
}

.green {
  color: rgb(36, 145, 68);
}

