* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  background: linear-gradient(
    -45deg,
    rgb(250, 198, 104),
    #3ce7bf,
    #23a6d5,
    #23d5ab
  );
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  background-color: #fdfdfd;
  margin: 2em;
}

label {
  display: block;
  color: rgb(77, 77, 77);
  font-size: 0.75rem;
  min-width: 16rem;
  max-width: 50%;
}

input {
  display: block;
  width: 100%;
  min-width: 50%;
  padding: 0.25em;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
}

.errors {
  color: red;
  padding: 2px;
  border: 2px;
  margin: 2px;
}

.login-question {
  margin-bottom: 1em;
}

.login-btn {
  background: rgba(0, 81, 255, 0.77);
  color: white;
  padding: 3px;
  margin-top: 20px;
  align-self: center;
  width: 50%;
  border-radius: 7.5px;
  border-width: 0.5px;
  cursor: pointer;
}

form {
  color: rgb(27, 49, 15);
}

.small-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  padding: 0 0 1em 0;
}

.flex-container {
  display: flex;
}

.flex-col {
  flex-direction: column;
  gap: 1em;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.nav-items__primary {
  display: flex;
  gap: 1em;
  margin-right: 1em;
}

.nav-items__secondary {
  display: flex;
  margin-left: auto;
}

.nav-btn {
  cursor: pointer;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(66, 66, 66);
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.checkbox-icon {
  max-width: 16px;
  cursor: pointer;
}

.edit-icon {
  height: 16px;
  width: 16px;
  color: white;
  cursor: pointer;
  padding-top: 3px;
  margin: 1px;
}

.relative {
  position: relative;
  min-height: 75svh;
}

.add-btn {
  position: absolute;
  bottom: 1em;
  right: 0;
  width: 3rem;
  height: 3rem;
  background-color: rgb(0, 76, 255);
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-btn {
  min-width: 5em;
  padding: 0.5em;
  background-color: rgb(0, 76, 255);
  border: 1px transparent;
  border-radius: 2em;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon-container {
  background: transparent;
  border: none;
  min-width: 16px;
}

.task-link {
  padding: 1px;
  margin: 2px;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

.task-link:hover {
  opacity: 0.75;
}

table {
  flex-grow: 1;
  border-collapse: collapse;
}

.table-row {
  border-bottom: 1px solid rgb(190, 190, 190);
  text-align: left;
}

.table-row td:first-child,
td:last-child {
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-links {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

.note {
  margin: 10px;
  padding: 10px;
}

.task-container {
  padding: 10px;
  margin: 10px;
}

.task-attr {
  padding: 2px;
  margin: 2px;
}

.title {
  padding: 5px;
  margin: 5px;
}

.btn {
  background: rgba(0, 81, 255, 0.77);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 15px 0px 6px 10px;
  cursor: pointer;
}

button:hover,
.nav-btn:hover,
.card:hover {
  opacity: 0.8;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  margin-top: 10px;
  margin-left: 5px;
}

td {
  border-right: 1px solid rgb(220, 220, 220);
  padding: 0px 6px;
}

.no-right-border {
  border-right: none;
}

th {
  color: rgb(66, 66, 66);
  font-weight: lighter;
  border-radius: 5px;
}

.card {
  margin: 20px 0px;
  padding: 0.75em;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.75em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

textarea {
  width: 100%;
  min-height: 100px;
  word-wrap: break-word;
}

.task-btn-container {
  margin: 0.3em 0.3em 0.3em 0;
  margin-bottom: 0.5em;
}

.orange {
  background-color: rgb(250, 198, 104);
}

.pink {
  background-color: rgb(255, 193, 204);
}

.green {
  background-color: rgb(173, 223, 179);
}

.yellow {
  background-color: rgb(254, 252, 215);
}

.blue {
  background-color: rgb(89, 203, 232);
}

.bold {
  font-weight: bold;
}

.w100 {
  width: 100%;
}

.gap2em {
  gap: 2em;
}

.max-width500px {
  max-width: 500px;
}

.hamburger-btn {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5rem;
}

.hidden-menu {
  display: none;
}

.responsive-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive-menu > * {
  margin: 1em;
  width: 8em;
  text-align: center;
}

@media (max-width: 500px) {
  .hamburger-btn {
    display: flex; /* Show the button on smaller screens */
  }
  .nav-items__primary,
  .nav-items__secondary {
    display: none; /* Hide the primary navigation links by default */
  }

  #root {
    margin: 1em;
    padding: 0.5em;
  }
}

@media (min-width: 500px) {
  .menu {
    display: none;
  }

  .top-nav {
    flex-direction: row;
  }

}
